<h1>{{ bug.bug_type }}</h1>
<p><strong>Description:</strong> {{ bug.description }}</p>
<p><strong>Bug Type:</strong> {{ bug.bug_type }}</p>
<p><strong>Report Date:</strong> {{ bug.report_date }}</p>
<p><strong>Status:</strong> {{ bug.status }}</p>

<form method="post">
    {% csrf_token %}
    <fieldset>
        <h1>Register a New Bug</h1>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br><br>
    
    <label for="bug_type">Bug Type:</label><br>
    <input type="text" id="bug_type" name="bug_type"><br><br>
    
    <label for="status">Status:</label><br>
    <input type="text" id="status" name="status"><br><br>
    </fieldset>
    <input type="submit" value="Register a Bug">
</form>